<!DOCTYPE html>
<html>
<head>
    <title>CNC Speed Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="/css/custom_bootstrap.css">
</head>
<body>
<nav class="navbar navbar-dark navbar-expand">
    <div class="container">
        <a href="#" class="navbar-brand">
            CNC Speed Calculator
        </a>
    </div>
</nav>
<div class="container mt-4 text-white">
    <form action="/login" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </form>
</div>


</body>
<script src="/js/bootstrap.min.js"></script>

</html>
